<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institute</title>
</head>

<body style="margin-top: 200px; margin-left: 600px">
    <table border="2px">
        <tr>
            <th>cname</th>
            <th>jdate</th>

        </tr>
        {% for i in ins %}
        <tr>
            <td>{{i.cname}}</td>
            <td>{{i.jdate}}</td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>